.navbar {
  background: white;
  border-bottom: 1px solid #e5e7eb;
  margin: 10px;
  padding: 18px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #111827;
}
.nav-links {
  display: flex;
  gap: 24px;
  list-style: none;
}

.nav-links a {
  font-weight: 500;
}

.nav-links a:hover {
  color: #2563eb;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 16px;
  }

  .nav-links {
    flex-wrap: wrap;
    justify-content: center;
  }
}
